{% extends "base_template.html" %}
{% load static %}
{% block content %}

<div class="container vh-100">
<div class="row align-items-center text-center h-100">
<div class="col ">

{% if table_status %}
<h5>CARD ROOM {{room_nr}}</h5>

<h6>Players</h6>
<ul class="list-unstyled">
{% for player in players %}
    <li>{{player.username}}</li>
{% endfor %}
</ul>

{% if register %}
<form method="post">
{% csrf_token %}
<input type="submit" name="Join" value="Join Table">
</form>
{% endif %}


{% if cancel %}
<form method="post">
{% csrf_token %}
<input type="submit" name="Cancel" value="Leave Table">
</form>
{% endif %}
<p>{{ message }}</p>

{% endif %}

{% if countdown %}
<p id="countdown">{{ time }}</p>
{% endif %}

{% if game_status %}

    <div class="container">
        <div class="row border border-dark">
            <div class="col border border-dark text-center">
                <h5>Team One Score: {{ team_1_score }}</h5>
                <p>{{ player1 }}, {{ player2 }}</p>
            </div>
            <div class="col border border-dark text-center">
                <h5>Team Two Score: {{ team_2_score }}</h5>
                <p>{{ player3 }}, {{ player4 }}</p>
            </div>
        </div>
        <div class="row border border-dark">
            <div class="col border border-dark text-center">
                <h5>{{ player1 }}</h5>
                <p>cards: {{ player1.cards }}</p>
                <p>tricks: {{ player1.tricks }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col border border-dark">
                <h5>{{ player4 }}</h5>
                <p>cards: {{ player4.cards }}</p>
                <p>tricks: {{ player4.tricks }}</p>
            </div>
            <div class="col border border-dark text-center">
                <p>Board</p>
                    <p>{{ board }}</p>
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" name="Post_Card" class="btn btn-dark">send card</button>
                    </form>
                <p>{{ card }}</p>

            </div>
            <div class="col border border-dark">
                <h5>{{ player2 }}</h5>
                <p>cards: {{ player2.cards }}</p>
                <p>tricks: {{ player2.tricks }}</p>
            </div>
        </div>
        <div class="row border border-dark text-center">
            <div class="col border border-dark">
                <h5>{{ player3 }}</h5>
                <p>cards: {{ player3.cards }}</p>
                <p>tricks: {{ player3.tricks }}</p>
            </div>
        </div>
    </div>
    <div class="row border border-dark text-center">
        <div class="col border border-dark">
            <h5>Trump card: {{ trump_card }}</h5>
        </div>
    </div>
</div>

{% endif %}

</div>
</div>
</div>
<script src="{% static 'js_files/card_room_utilities.js' %}"></script>
{% endblock %}
