body {
    background-color: #333333;
    min-height: 100vh;
}

.sticky-footer{
    position: sticky;
    top: 100%;
}


.font-color{
    color: #999999;
}

#footer-font-color{
    font-size: x-small;
    color: #999999;
}

#logo{
    width: 28px;
    height: 32px;
}

a:hover{
    color: #999999;
}