{% extends "base_template.html" %}

{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css_files/room_list.css' %}">
{% endblock %}

{% block content %}

<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-bottom border-secondary font-color">
        <th scope="col" class="text-center">Room</th>
        <th scope="col" class="text-center">Players</th>
        <th scope="col" class="text-center">Stats</th>
        <th scope="col" class="text-right">Registration</th>
    </tr>
  </thead>
  <tbody>

    {% for room in rooms %}
    <tr class="border-bottom border-secondary font-color">
        <th scope="col" class="text-center">{{room.id}}</th>
        <td class="text-center">{{room.players_count}}</td>
        <td class="text-center"><a href="{% url 'the_room' room.id %}" class="font-color">View</a></td>
        <td class="text-right">
            <a href="{% url 'the_room' room.id %}" class="text-success">
            <button class="btn btn-outline-success btn-sm">Join Table</button>
            </a>
        </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
