{% extends "base_template.html" %}

{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css_files/room_list.css' %}">
{% endblock %}

{% block content %}

<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-bottom border-secondary font-color">
        <th scope="col" class="text-center">Room</th>
        <th scope="col" class="text-center">Players</th>
        <th scope="col" class="text-center">Stats</th>
        <th scope="col" class="text-right">Registration</th>
    </tr>
  </thead>
  <tbody>

    {% for room in rooms %}
    <tr class="border-bottom border-secondary font-color">
        <th scope="col" class="text-center">{{room.id}}</th>
        <td class="text-center">{{room.players_count}}</td>
        <td class="text-center">
            {% if room.game_status %}
            <i>Hidden</i>
            {% else %}
            <a href="{% url 'the_room' room.id %}" class="font-color">View</a>
            {% endif %}
        </td>
        <td class="text-right">
            {% if room.game_status %}
            <button type="button" class="btn btn-outline-danger btn-sm" disabled>Game In Progress</button>
            {% else %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="Join" value="{{ room.id }}" class="btn btn-outline-success btn-sm">
                        Join Table
                    </button>
                </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
