{% extends "base_template.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css_files/join.css' %}">
{% endblock %}

{% block content %}

{% if room_status %}
<div class="text-center font-color">
    <h1>Room {{room_nr}}</h1>

    <h6>Players</h6>
    <ul class="list-unstyled">
    {% for player in players %}
        <li>{{player.username}}</li>
    {% endfor %}
    </ul>

    {% if register %}
    <form method="post">
    {% csrf_token %}
    <button type="submit" name="Join" class="btn btn-outline-success btn-sm">Join Table</button>
    </form>
    {% endif %}

    {% if cancel %}
    <form method="post">
    {% csrf_token %}
    <button type="submit" name="Cancel" class="btn btn-outline-danger btn-sm">Leave Table</button>
    </form>
    {% endif %}
    <p>{{ message }}</p>
</div>

{% endif %}

{% endblock %}


