{% extends "base_template.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css_files/room_list.css' %}">
{% endblock %}

{% block content %}

{% if room_status %}

<table class="table table-borderless table-hover">
  <thead>
    <tr class="border-bottom border-secondary font-color">
        <th scope="col">Player</th>
        <th scope="col">Rank</th>
        <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
  {% for player in players %}
     <tr class="border-bottom border-secondary font-color">
        <th scope="col">
            {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" class="avatar">
            {% else %}
            <img src="{% static 'profile/images/default.jpg' %}" class="avatar">
            {% endif %}
            {{ player.username }}
        </th>
        <td> {{ rank }}  </td>
        <td> {{ player.points }}  </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="text-right">
    {% if register %}
    <form method="post">
    {% csrf_token %}
    <button type="submit" name="Join" class="btn btn-outline-success btn-sm">Join Table</button>
    </form>
    {% endif %}

    {% if cancel %}
    <form method="post">
    {% csrf_token %}
    <button type="submit" name="Cancel" class="btn btn-outline-danger btn-sm">Leave Table</button>
    </form>
    {% endif %}
    <p>{{ message }}</p>
</div>

<!--{% endif %}-->

{% endblock %}


