{% extends "base_template.html" %}
{% block content %}

<div class="login-box font-color">
    <form class="form-group" method="post">
        {% csrf_token %}

        <!-- Username -->
        <label>username</label>
        <div class="form-outline mb-4">
            {{ form.username }}
        </div>

        <!-- Password -->
        <label>password</label>
        <div class="form-outline mb-4">
            {{ form.password }}
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-success btn-sm">Sign in</button>
    </form>
    <p>Don't have an account?
    <a class="font-color" href="{% url 'signup' %}">Signup here</a></p>
</div>

{% endblock %}
