{% extends "base_template.html" %}
{% load static%}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css_files/login.css' %}">
{% endblock %}

{% block content %}

<div class="font-color">
    <form class="form-group" method="post">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>

        <button type="submit" class="btn btn-outline-success btn-block">Sign in</button>
    </form>
    <p>Don't have an account?
    <a class="font-color" href="{% url 'signup' %}">Signup here</a></p>
</div>

{% endblock %}
