{% extends "base_template.html" %}
{% load static %}
{% block content %}

<div class="container-fluid h-100">
    <div class="row row h-100 justify-content-center align-items-center">
        <div class="col align-items-center text-center">

            <form method="post">{% csrf_token %}
                {{form.as_p}}
            <input class="btn btn-success" type="submit">
            </form>
            <a href="{% url 'signup' %}">Don't have an account, signup here</a>

        </div>
    </div>
</div>

{% endblock %}
